#tt-descripcion {
    clear: both;
    padding: 40px 0 33px 0;
}

#cnt_fechas{
	width:100%;
	height:auto;
	margin:-20px 0 0 0;
	border-bottom:1px dotted #bbb;
}

#cnt_anos{
	width:70%;
	height:auto;
	margin:0 auto 30px auto;
	text-align:center;
	font-family:'tarzana_narrowregular','Times New Roman';
	font-size:16px;
	color:#999
}

#cnt_anos a{
	color:#999;
	text-decoration:none;
}

#cnt_anos a:hover {
	color:#33ffff;
}

.fecha_prg {
	width:100px;
	height:30px;
	font-family:'tarzana_narrowregular','Times New Roman';
	font-size:20x;
	margin:40px 0 30px 0px;
	color:#000;
}

.tarjeta_prg {
	position:relative;
	width: 100%;
	height: auto;
}

.tarjeta_prg h2 {
	color:#000;
}

.tarjeta_prg h3 {
	color:#000;
}

.img_prg {
	float:left;
	width:60%;
	height:auto;
	background-color:#000;
	overflow:hidden;
}

.img_prg img {
	width:100%;
}

.cnt_txt_prg {
	float:right;
	width:38%;
	height:auto;
	padding:0 0 0 0;
}

.txt_prg {
	position:relative;
	width:100%;
	height:auto;
}

.txt_prg h1 {
	padding:0;
	margin:0;
	font-size:26px;
}

.txt_prg h2 {
	padding:0;
	margin:0;
	font-family:'Times New Roman';
	font-size:26px;
}

.txt_resena {
	position:absolute;
	width:100%;
	height:175px;
	bottom:0;
	padding:0 0 15px 0;
	overflow:hidden;

}

.txt_resena h3 {
	height:30px;
	padding:15px 0 0 0;
}

#cntp {
	width: 100%;
	overflow:hidden;
}

#txt-fragmento1 {
	width:100%;
	height:auto;

}

#txt-fragmento2 {
	display:none;
	width:100%;
	height:auto;
}

#bmastexto {
	width: auto;
	height: 20px;
	font-size: 20px;
    padding: 34px 0 42px 0;
}

#bmastexto:hover {
	color:#33ffff;
}

.separador-galeria {
	clear :both;
	width: 100%;
	height: 5px;
}

#cnt_galeria {
	width: 100%;
	height: auto;
    border-bottom: 1px solid #CCCCCC;
}

#installation.gallery-container h2 {
	padding: 0 0 60px;
}

.gallery-container h2 {
	color: black;
	font-family: 'Times New Roman';
	font-size: 18px;
	text-align: center;
}

.gallery-container h2 a {
	color:#000;
	text-decoration:none;
}

.gallery-container h2 a:hover {
	color:#33ffff;
}

.gallery-container span {
	text-align: center;
	border-bottom: 1px solid black;
	padding: 23px;
}

.gallery-container .load-gallery-btn {
	border: 1px solid black;
	cursor: pointer;
	clear: both;
	display: block;
	margin: 50px auto 40px;
    padding: 10px;
    width: auto;
}

.tt-izquierda {
    text-align: left;
    padding-top: 35px;
    padding-bottom: 30px;
}

.tt-derecha {
    text-align: right;
    padding-top: 37px;
    padding-bottom: 44px;
}

#tt_galeria{
    clear: both;
	width: auto;
}

.default-top-padding {
    padding-top: 40px;
}

#galeria {
	clear:both;
	display: flex;
	flex-wrap: wrap;
	height:auto;
	margin:auto;
	padding:0 0 0 0;
	width:100%;
}

.foto-wrapper {
	position: relative;
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 5px;;
}

.foto-container {
	background-color: black;
}

/* .foto {
	float:left;
	width:32.3%;
	height:200px;
	margin:0 0.5% 0 0.5%;
	background-color:#000;
	overflow:hidden;
} */

a.foto {
	background-color: black;
	display: block;
	height: 100%;
	width: 100%;
}

.foto-container img {
	width: 100%;
}

.foto img {
	height: 100%;
	object-fit: cover;
	width:100%;
}

.foto-img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.foto-img:hover {
	opacity:.5
}


.foto2 {
	float:left;
	width:29.3%;
	height:200px;
	margin:15px .5% 15px .5%;
	background-color:#666;
}

#indicador {
	max-width: 300px;
    margin: 36px auto 36px auto;
}

#indicador h1 {
	text-align: center;
	font-size: 36px;
	padding: 0;
}

#indicador h2 {
	text-align:center;
	font-size:18px;
	margin:-20px 0 0 0;
}

#indicador p{
	text-align:center;
}

#pagi{
	width:100%;
    height: 50px;
	text-align: center;
}

#anterior{
	float:left;
	width:45%;
    padding-top: 15px;
	text-align: right;
}

#anterior a:hover{
	color:#999;
}

#siguiente{
	float:left;
	width:45%;
    padding-top: 15px;
	text-align: left;
}

#siguiente a:hover{
	color:#999;
}

#separador{
	width:10%;
	float:left;
	font-size:38px;
	color:#33ffff;
}

.cnt-videos {
	width:100%;
	height: auto;
	padding: 45px 0 10px 0;
	border-top:1px solid #ccc;
}

.cnt-videos h1 {
	width:30%;
	padding:0;
	margin:10px 0 30px 0;
	font-family:'Times New Roman';
	font-size:24px;
	color:#999;
}

#thumbs {
	clear:both;
	position:relative;
	width:100%;
	height:auto;
	padding:0;
	margin:0 auto 0 auto;
}

.video-gl{
	float:left;
	margin-left:0;
	margin-right:0;
}

.fancybox{
	position:relative;
}

.mascaras{
	opacity:0;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mascaras:hover{
	opacity:.5
}

.msk-foto{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:20px;
	background-color:black;
	opacity:1;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.msk-foto:hover{
	opacity:.5
}

#mascara{
	position:absolute;
	left:0;
	top:0;
}

#reproductor{
	position:fixed;
	width:720px;
	height:407px;
	top:50%;
	right:100%;
	margin-right:800px;
	margin-top:-203.5px;
	background-color:#fff;
}

#cnt_video {
	position:relative;
	width:720px;
	height:407px;
}

#rep {
	width:100%;
}

#cerrar {
	position:absolute;
	width:50px;
	height:50px;
	top:-70px;
	right:0px;
	cursor:pointer;

	background-image:url('../imagenes/cerrar.png');
	background-size:100%;
	background-repeat:no-repeat;
}

#mask {
	display:none;
	opacity:0;

	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0px;
  	background-color:#000;
	cursor:pointer;
}

#btn-vid-siguiente{
	position:absolute;
	width:40px;
	height:40px;
	top:50%;
	right:0;
	margin-top:-20px;
	margin-right: 10px;
	cursor:pointer;

	background-image:url('../imagenes/flecha-siguiente.png');
	background-size:100%;
	background-repeat:no-repeat;
}

#btn-vid-anterior{
	position:absolute;
	width:40px;
	height:40px;
	top:50%;
	left:0;
	margin-top:-20px;
	margin-left: 10px;
	cursor:pointer;

	background-image:url('../imagenes/flecha-anterior.png');
	background-size:100%;
	background-repeat:no-repeat;
}



/* =========  CARRITO =============*/

#tt-pedido{
	margin:auto;
	padding: 5px 0 15px 0;
	text-align:center;
	/*background-color:#f00;*/
}

#carrito-vacio{
	position:fixed;
	width:150px;
	height:100px;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-75px;
	background-color:#fff;
	border: 1px dotted #999;

	font-family:'Times New Roman';
	font-size:16px;
	line-height:100px;
	text-align:center;
	color:#000
}
.vaciar-carrito{
	width:130px;
	height:30px;
	margin:auto;
	padding:20px 0 0 0;
	text-align:center;
	border-top: 1px solid #000;
}

input[type="text"] {
	float: none;
	font-family:'Times New Roman';
	outline:none;
}

input[type="email"] {
	float: none;
	font-family:'Times New Roman';
	margin: 0px 0px 10px 0px;
	outline:none;
}

input[type="submit"] {

	float:none;
	padding:0;
	margin: 0px;
	cursor:pointer;
	background-color:none;
	font-family:'Times New Roman';
	font-weight:100;
}

.btn-compra{
	width:200px;
	clear:both;
	margin:0 0 30px 0;
	padding:10px 0 20px 0;

	color:#999;
}

#btn-carrito{
	width:150px;
	height:30px;
	margin:0 auto 0 auto;
	color:#999;

	border-bottom:1px dotted #999;
	border-top:none;
	border-left:none;
	border-right:none;

	background-color:#fff;
	font-family:'Times New Roman';
	font-size:15px;
	text-align:left;
}

#btn-carrito:hover{
	color:#33ffff;
}


.item{
	width:100%;
	height:380px;
	margin: 0 auto 40px auto;
	/*background-color:#ff0*/
}

.item-img{
	float:left;
	width:30%;

}

.item-img img {
	width:100%;
}

.item-datos{
	position:relative;
	float:right;
	width:68%;
	height:288px;
	/*background-color:#f00;*/
}

.item-tt{
	font-size:24px;
	padding:10px 0 20px 0;
}

.item-cantidad{
	width:28px;
	height:28px;
	text-align:center;
	margin:0 15px 0 0;
	border-bottom:1px solid #999;
	border-top:0;
	border-left:0;
	border-right:0;
}


.btn-cambio-cantidad{
	width:100px;
	height:30px;
	color:#999;

	text-transform:capitalize;
	background-color:#fff;
	border-bottom: 1px solid #999;
	border-top:0;
	border-left:0;
	border-right:0;
}

.btn-cambio-cantidad:hover{
	color:#33ffff;
}



.eliminar-item{
	position:absolute;
	bottom:0;
	left:0;
}

#btn-quitar-obra{
	width:150px;
	height:40px;
	color:#fff;
	background-color:#999;
	font-size:12px;
	letter-spacing:1px;
	border:none;
}

#btn-quitar-obra:hover{
	background-color:#33ffff;
}

#frm-pedido{
	width:100%;
	height:300px;
	margin:40px 0 30px 0;
	padding:40px 0 0 0;
	border-top:1px solid #999;
	font-size:14px;
}

#frm-nombre{
	width:300px;
	height:30px;
	padding:5px 10px 5px 15px;
	color:#000;
	border: 1px solid #ccc;
	font-size:14px;
}

#frm-correo{
	width:300px;
	height:30px;
	padding:5px 10px 5px 15px;
	color:#000;
	border: 1px solid #ccc;
}

#btn-enviar-carrito{
	width:150px;
	height:40px;

	background-color:#999;
	border:none;
	color:#fff;
	font-size:12px;
	letter-spacing:1px;
}

#btn-enviar-carrito:hover{
	background-color:#33ffff;
}

.inactivo{
	color:#999;
	opacity:.8;
}

#extra-text-container {
	display: none;
	opacity: 0;
	width: 100%;
}

#extra-text-button {
	cursor: pointer;
	display: none;
}

#extra-text-button:hover{
    color: #333;
}

#technical-description {
    font-weight: bold;
    padding-top: 20px;
}

#installation h1 {
    padding-bottom: 30px;
    color: #999;
    font-size: 24px;
}

#installation-container {
    clear: both;
    display: flex;
    flex-wrap: wrap;
}

.installation-img {
    flex-basis: 33.33%;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
    box-sizing: border-box;
    padding: 0.25% 0.5%;
    align-items: stretch;
}

.installation-img img {
	background-color: black;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.installation-img .installation-video-text {
	width: 50%;
	margin: auto;
	text-align: center;
	margin-bottom: 15px;
	border: 1px solid #ccc;
}

a.f-box {
	background-color: #000;
	height: 100%;
	width: 100%;
}
